/*==============================
GENERAL
==============================*/

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



/*==============================
HEADER
==============================*/

header {
  width: 100%;
}



/*==============================
NAVIGATION
==============================*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  padding: 14px 16px;
  margin: auto 0;
}

#userImage {
  padding: 0;
  order: 1;
}

#userImage img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid green;
  vertical-align: middle;
  padding: 0;
}

/* For mobile, only display the first 3 elements */
.nav a:not(:nth-child(-n+3)) {
  display: none;
}

#hamburgerIcon {
  order: 2;
}



/*==============================
MENUS
==============================*/

.menu {
  display: none;
  flex-direction: column;
}



/*==============================
ADS
==============================*/

#ads {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-around;
  overflow: hidden; /* Display only the top row */

  padding: 0;
  /*border: 1px solid red;*/
}

#ads img {
  width: 80px;
  margin: 0 2px;
  border-radius: 5%;
  border: 2px solid #444;
}



/*==============================
FOOTER
==============================*/

footer {
  width: 100%;
}

footer p {
  margin: 0;
  padding: 4px 15px;
}

footer address {
  padding: 10px 15px;
}



/*==============================
COLORS
==============================*/

header {
  background-color: rgb(49, 181, 95);
}

nav {
  /*background-color: blue;*/
}

nav a {
  /*border: 1px solid red;
  background-color: orange;*/
}

.menu {
  background-color: rgb(49, 181, 95);
}

footer {
  background-color: rgb(49, 181, 95);
}



/*==============================
MEDIA QUERIES
==============================*/

@media screen and (min-width: 600px) {
  .nav a:not(:first-child) {
    display: flex;
  }
  #hamburgerIcon {
    display: none;
  }
  #userImage {
    margin-left: auto;
  }
  #ads {
    height: 100px;
  }
  #ads img {
    width: 100px;
  }
}