/*==============================
MAIN
==============================*/

main {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}



/*==============================
ARTICLE
==============================*/

#articles {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

.article {
	margin: 10px auto;
	text-align: center;
	width: 100%;
	min-height: 340px;
	color: #fff;
	/*padding-bottom: 20px;*/
}

#published p {
	font-style: italic;
	text-align: left;
	padding-left: 20px;
}

#title {
	font-size: 1.6em;
}

#title a {
	text-decoration: underline;
	color: #eee;
}

#countdown {
	padding-top: 5px;
}

#countdown p:first-child {
	font-weight: bold;
}

#countdown p:last-child {
	font-size: 2em;
	color: #333;
	background: #fff;
	display: inline-block;
	padding: 0 5px;
	margin-top: 0;
	border: 2px solid #333;
}

#newsPepp p {
	padding-top: 40px;
	font-size: 1.4em;
}

#newsPepp p a {
	text-decoration: underline;
	color: #fff;
}

/*==============================
COLORS
==============================*/

main {
	background-color: #eee;
}

article {
	background-color: #444;
	border: 3px solid coral;
	border-radius: 5%;
}


/*==============================
MEDIA QUERIES
==============================*/