article {
	margin: 0 auto;
	padding: 0 10px;
	text-align: justify;
    text-justify: inter-word;
    max-width: 500px;
}

main {
	border-top: 4px solid coral;
	border-bottom: 4px solid coral;
	max-width: 900px;
 	width: 100%;
  	margin: 0 auto;
  	color: #444;
  	margin-bottom: 30px;
}

#published p {
	font-style: italic;
	text-align: left;
}

#title {
	text-align: center;
	font-size: 1.6em;	
}

#title h2 {
	margin-bottom: 10px;
}

.date {
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 30px;
}

.infoText {
	text-align: center;
	padding: 0;
	margin: 0;
}

.sectionInfo {
	font-weight: bold;
	margin-top: 30px;
}

#countdown {
	text-align: center;
	font-size: 1.2em;
}

#countdown p {
	margin: 0;
	padding: 5px;
}

#button {
	text-align: center;
	margin: 15px 0;
}

#button button {
	width: 60%;
	height: 40px;
}

#button button:disabled {
	color: red;
	background-color: #eee;
	border: 1px solid #ccc;
}

.section {
	border-top: 1px solid coral;
}

.adminSection {
	border-bottom: 1px solid coral;
}

#editDelete img {
	height: 50px;
	width: 50px;
	padding: 10px;
	background-color: #444;
	margin: 0px 10px;
	border-radius: 15%;
}	

#editDelete {
	margin: 10px;
	text-align: center;
}

#address img {
	height: 25px;
	width: 25px;
}

#address {
	text-align: center;
	margin-bottom: 30px;
}

#address p {
	margin: 5px;
}

#address p:first-child {
	font-size: 1.2em;
	font-weight: bold;
}

.registration p {
	margin: 0;
}

.registration p:first-child {
	margin-top: 15px;
}

.capacityInfo p {
	margin: 0;
}

.capacityInfo {
	margin-top: 30px;
	text-align: center;
}

/*==============================
COLORS
==============================*/

.date {
	color: #999;
}